{% extends 'base.html.twig' %}

{% block title %}Matériaux{% endblock %}

{% block body %}
    <h1 class="text-light">Liste des matériaux</h1>

    <a class="btn btn-outline-secondary mb-3" href="{{ path('app_material_new') }}">Ajouter un matériau</a>

    <table class="table align-middle table-secondary table-striped" style="--bs-table-color-type: #343a40; --bs-table-striped-color: #343a40;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for material in materials %}
            <tr>
                <td>{{ material.id }}</td>
                <td>{{ material.name }}</td>
                <td>
                    <div class="justify-content-center d-flex flex-nowrap gap-3">
                        <a class="btn btn-outline-dark" href="{{ path('app_material_edit', {'id': material.id}) }}">Modifier</a>
                        {{ include('material/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
