{{ form_start(form) }}
        {# {{ form_widget(form) }} #}

        <div class="container row">
            <div class="col-md-6">
                {{form_row(form.name)}}

                {% if app.request.attributes.get('_route') == 'app_product_edit' %}
                    <h5 class="fs-6">Photo actuelle</h5>
                    <img class="mb-2" style="width:100px" src="{{asset('/uploads/photos')}}/{{ product.picture }}" alt="Image du produit">
                {% endif %}
    
                {{form_row(form.photo)}}
                {{form_row(form.price)}}
                {{form_row(form.delivery_time)}}
                {{form_row(form.type)}}
                {{form_row(form.available)}}
            </div>
            <div class="col-md-6">
                {{form_row(form.mainColor)}}
                {{form_row(form.materials)}}
                {{form_row(form.status)}}
            </div>
        </div>

    <div class="justify-content-center d-flex flex-nowrap gap-3">
        <button class="btn btn-outline-dark rounded-3">{{ button_label|default('Enregistrer') }}</button>
        
{{ form_end(form) }}

