{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1 class="text-light">Produit</h1>

<div class="card mx-auto" style="max-width: 50%;">
  <img style="width:50%" src="{{asset('/uploads/photos')}}/{{ product.picture }}" class="card-img-top mx-auto" alt="Image du produit">
  <div class="card-body">
    <h4 class="card-title">{{ product.name }} - id : {{ product.id }}</h4>
    <p class="card-text">
    </p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Matériau(x) : 
            {% for material in product.materials %}
                <span class="badge rounded-pill text-bg-dark">{{ material.name }}</span>
            {% endfor %}
        </li>
        <li class="list-group-item">Couleur principale : {{ product.mainColor }}</li>
        <li class="list-group-item">Prix (TTC) : {{ product.price }} €</li>
        <li class="list-group-item">Délai de livraison : {{ product.deliveryTime }}</li>
        <li class="list-group-item">Disponible : {{ product.available ? 'Disponible' : 'En rupture' }}</li>
    </ul>
  </div>
  <div class="card-body">
    <div class="justify-content-center d-flex flex-nowrap gap-3">
        <a class="btn btn-outline-dark" href="{{ path('app_product_index') }}">Retour à la liste</a>

        <a class="btn btn-outline-dark" href="{{ path('app_product_edit', {'id': product.id}) }}">Modifier</a>

        {{ include('product/_delete_form.html.twig') }}
    </div>    
  </div>
</div>
        
{% endblock %}
