<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<!-- Bootstrap CSS -->
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
		<!-- Bootstrap icons -->
		<link
		rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.css">
        
        <title>{% block title %}mli-creations{% endblock %}</title>
    </head>

    <body class="container bg-black" style="height: 100vh; --bs-bg-opacity: .9;">

    <div>

        <nav class="my-2 mx-2 d-flex justify-content-between">
            <div>
                <a class="btn text-light border border-primary-subtle rounded-3 fw-bold" href="{{path('app_home')}}">Accueil</a>
            </div>

            <div class="d-flex gap-3">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="btn btn-outline-success rounded-3" href="{{path('app_product_index')}}">Produits</a>
                    <a class="btn btn-outline-danger rounded-3" href="{{path('app_type_index')}}">Types</a>
                    <a class="btn btn-outline-info rounded-3" href="{{path('app_mainColor_index')}}">Couleurs principales</a>
                    <a class="btn btn-outline-secondary rounded-3"  href="{{path('app_material_index')}}">Matériaux</a>
                    <a class="btn btn-outline-warning rounded-3" href="{{path('app_user_index')}}">Utilisateurs</a>
                {% endif %}
            </div>

            <div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="btn text-light border border-primary-subtle rounded-3 fw-bold" href="{{path('app_security_logout')}}">Déconnexion</a>
                {% else %}
                    <a class="btn text-light border border-primary-subtle rounded-3 fw-bold" href="{{path('app_security_login')}}">Connexion</a>
                {% endif %}
            </div>
        </nav>

        <div class="position-position-relative text-end me-2">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <span> 
                    {% if "ROLE_ADMIN" in app.user.roles %}	
                        Administrateur
                    {% elseif "ROLE_MANAGER" in app.user.roles %}	
                        Manager
                    {% else %}	
                        Membre
                    {% endif %}
                        connecté : {{ app.user.email }}
                </span>
            {% endif %}
        </div>

        
        {% block body %}{% endblock %}

    </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    </body>
</html>
