{% extends 'base.html.twig' %}

{% block title %}Couleurs principales{% endblock %}

{% block body %}
    <h1 class="text-light">Liste des couleurs principales</h1>

    <a class="btn btn-outline-info mb-3" href="{{ path('app_mainColor_new') }}">Ajouter une couleur</a>

    <table class="table border border-info align-middle table-striped" style="--bs-table-color-type: #6cc3d5; --bs-table-striped-color: #6cc3d5; --bs-table-bg: #161616; --bs-table-striped-bg: #191919;">
        <thead class="table-info" style="--bs-table-color-type: #191919;">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mainColor in mainColors %}
            <tr>
                <td>{{ mainColor.id }}</td>
                <td>{{ mainColor.name }}</td>
                <td>
                    <div class="justify-content-center d-flex flex-nowrap gap-3">
                        <a class="btn btn-outline-info" href="{{ path('app_mainColor_edit', {'id': mainColor.id}) }}">Modifier</a>
                        {{ include('mainColor/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
