{% extends 'base.html.twig' %}

{% block title %}Couleurs principales{% endblock %}

{% block body %}
    <h1 class="text-light">Liste des couleurs principales</h1>

    <a class="btn btn-outline-info mb-3" href="{{ path('app_mainColor_new') }}">Ajouter une couleur</a>

    <table class="table align-middle table-info table-striped" style="--bs-table-color-type: #343a40; --bs-table-striped-color: #343a40;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mainColor in mainColors %}
            <tr>
                <td>{{ mainColor.id }}</td>
                <td>{{ mainColor.name }}</td>
                <td>
                    <div class="justify-content-center d-flex flex-nowrap gap-3">
                        <a class="btn btn-outline-dark" href="{{ path('app_mainColor_edit', {'id': mainColor.id}) }}">Modifier</a>
                        {{ include('mainColor/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
