{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1 class="text-light">Liste des utilisateurs</h1>

    <a class="btn btn-outline-warning mb-3" href="{{ path('app_user_new') }}">Ajouter un utilisateur</a>

    <table class="table border border-warning align-middle table-striped" style="--bs-table-color-type: #ffce67; --bs-table-striped-color: #ffce67; --bs-table-bg: #161616; --bs-table-striped-bg: #191919;">
        <thead class="table-warning" style="--bs-table-color-type: #191919;">
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Rôle(s)</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <div class="justify-content-center d-flex flex-nowrap gap-3">
                        <a class="btn btn-outline-warning" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                        {{ include('user/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
